{extend name="center/base" /}
{block name="title"}发表twitter{/block}
{block name="main"}
<div class="J_UserCenter_Content">
    <h3 class="J_UserCenter_title">发布微语<em>微语功能需要申请，审核通过后方可自行发表微语</em></h3>
    <div class="J_UserCenter_wrap">
        <div class="J_User_NoRegist">
            <p>纳尼，木有微语权限？</p>
            <p><a href="javascript:;" class="btn btn-danger btn-sm">点此申请</a></p>
            <p class="J_User_NoRegist_des">多盖楼评论会更容易通过审核；若申请被拒绝，将不再提供申请入口！</p>
        </div>
    </div>
</div>
{/block}