<IfModule mod_rewrite.c>
  Options +FollowSymlinks -Multiviews
  RewriteEngine On

  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ index.php?/$1 [QSA,PT,L]
</IfModule>
## ExpiresActive On
## <FilesMatch "\.(gif|jpg|png|js|css)$">    
##    ExpiresDefault "access plus 30 days"
## </FilesMatch>