{extend name="info/base" /}
{block name="title"}版权信息{/block}
{block name="main"}
<div class="page_content_container">
    <header class="page_header">
        <h1><a href="{:url('index/info/copyrigth')}">版权声明</a></h1></header>
    <article class="page_content article_content">
        <p style="text-indent:2em;">
            本博客内的所有XXXXXX
        </p>
        <p style="text-indent:2em;">
            <br>
        </p>
        <div class="article_image"><img src="__INDEX__images/copyright.jpg" alt=""></div>
        <p style="text-indent:2em;">
            <br>
        </p>
        <p style="text-indent:2em;">
            ------没有什么好说的
        </p>
    </article>
</div>
{/block}