{extend name="info/base" /}{block name="title"}关于嘿嘿{/block}{block name="main"}
<div class="page_content_container">
    <header class="page_header">
        <h1><a href="{:url('index/info/me')}">我先做一个自我介绍</a></h1></header>
    <article class="page_content article_content">
        <p>
            我的QQ号：<span style="color:#FFFFFF;background-color:#E53333;">&nbsp;{:config('web.siteqq')}&nbsp;</span> <span style="color:#999999;font-size:14px;">（加我时请注明缘由或您的姓名）</span>
        </p>
        <p>
            我的微信公众号二维码：
        </p>
        <div class="article_image"><img src="__INDEX__images/head/1.png" title="XXXX" alt="XXXX"></div>
        <p style="text-align:center;">
            <span style="color:#999999;font-size:14px;">（公众号：嘿嘿  当然还没有开始弄）</span>
        </p>
        <p>
            我的邮箱：<span style="color:#FFFFFF;background-color:#E53333;">&nbsp;{:config('web.siteemail')}&nbsp;</span> <span style="color:#999999;font-size:14px;">（有什么可以联系我）</span>
        </p>
        <p>
            ---------------------------我是分割线--以上信息更新于2999-99-99---------------------------
        </p>
        <p>
            <h2 style="text-indent:2em;">下面是介绍内容,当然您可以选择接着看下去</h2>

            <p>致一些对本人并没有了解的，新来的朋友：</p>

            <p>本人文化程度有限，素质不高，性格还行，是传说中的键盘侠，一个伪文青.这几年不知道怎么就膨胀起来了，成为了一个胖子</p>

            <p>可能会因为三观极有可能与您有断层（当然您的三观是对的，我的有是问题的）为了大家网络生活的健康，如果您满足以下任意条件一项(就不是看不过你)，建议您从健康出发，不用在访问本博客了.(想乱骂，你请自便)</p>
            <p>伪科学爱好者，老罗的狂热爱好者，喜欢跑步(啥？跑步那怎么还是个胖子) 打/日本愿意捐工资/性命者，比较爱好军事喜欢在铁血上面乱BB，当然也是一个唯恐天下不乱的人</p>
        </p>
    </article>
</div>
{/block}